.docs {
  width: 800px;
  max-width: 800px;
  margin: auto;
}

.api-response pre {
  background-color: #272722;
  border: 1px solid silver;
  padding: 10px 20px;
}

#snackpack-api {
  text-align: center;
  font-size: 500%;
  margin-bottom: 20px;
}

#tldr-quick-start-example {
  margin-bottom: 20px;
}

.json-key {
  color: #66d9ef;
}

.json-value {
  color: white;
}

.json-string {
  color: #e6db74;
}

.api-request textarea {
  width: 100%;
  max-width: 100%;
}

[api-request-example] {
  padding: 20px;
  background-color: #A0DCDD;
  margin: 20px 0;
}

.warning {
  border-radius: 5px;
  margin: 30px 0;
  width: 100%;
  padding: 10px;
  background-color: #ef4036;
}
