body {
  font-family: 'Roboto', sans-serif;
  background-color: #fffae3;
  color: #1d1614;
}

a, a:active, a:visited {
  text-decoration: none;
  color: #ef4036;
}

li {
  list-style-type: disc;
  color: #ef4036;
}

code {
  color: #ef4036;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-style: italic;
  color: #ef4036;
}
